<%
baseParamsID = route + '-' + method + '-Params';
baseHeadersID = route + '-' + method + '-Headers';
params = getParams(route);
%>

<form class="panel <%= method %>-panel-container slider" id="<%= (route + "/" + method) %>">
  <h3>Request</h3>

  <% if(params.length > 0){ %>
  <section>
    <p>Params</p>
    <% params.forEach(param => { %>
    <input type="text" placeholder="<%= param %>" target="Params"></input>
    <% }) %>
  </section>

  <% } %>
  <%- include('./params.ejs',{title:"Headers",baseID:baseHeadersID })
  %>

  <% if(method == "post" || method == "put"){ %>
  <section>
    <p>Body</p>
    <textarea class="bodyInput" id="<%= (route + "/" + method + "-body") %>"></textarea>
  </section>
  <% } %>

  <button type="button" class="pure-button-primary sendBtn"
          onclick="Lib.default.createRequest('<%= route %>','<%= method %>')"
  >Test!
  </button>
  <p id="<%= (route + "/" + method + "-loadingText") %>"> Loading...</p>
  <hr class=" closer">
  <%- include('./response.ejs',{route,method}) %>
</form>
