<%
baseParamsID = route + '-' + method + '-Params';
baseHeadersID = route + '-' + method + '-Headers';
params = getParams(route);
%>

<form class="panel <%= method %>-panel-container slider" id="<%= (route + "/" + method) %>">
  <h3>Request</h3>

  <% if(params.length > 0){ %>
  <section>
    <p>Params</p>
    <% params.forEach(param => { %>
    <input type="text" class="paramsInput" placeholder="<%= param %>" target="Params">
    <br>
    <% }) %>
  </section>

  <% } %>
  <%- include('./params.ejs',{title:"Headers",baseID:baseHeadersID })
  %>

  <section>
    <p>Query String</p>
    <input type="text" placeholder="string" class="queryInput"
           id="<%= (route + "/" + method + "-query-string") %>">
    <br>
  </section>

  <% if(method == "post" || method == "put"){ %>
  <section>
    <p>Body</p>
    <textarea class="bodyInput" id="<%= (route + "/" + method + "-body") %>"></textarea>
  </section>
  <% } %>

 <!-- <%- include('./selector.ejs') %>-->
  <button type="button" class="pure-button-primary sendBtn"
          onclick="Lib.default.createRequest('<%= route %>','<%= method %>')"
  >Test!
  </button>
  <hr class=" closer">
  <%- include('./response.ejs',{route,method}) %>
</form>
