<section class="paramsSection" id="<%= baseID + '-container-params' %>">
  <p><%= title %></p>
  <section class="param" id="<%= baseID + '-params-0' %>" index="0">
    <input type="text" placeholder="key"
           target="<%= title %>"
           id="<%= baseID + '-key-0' %>"
           onfocus="Lib.default.addParam(this,'<%= baseID + '-params-0' %>','<%= baseID + '-container-params' %>')"
    >
    <input type="text" placeholder="value"
           target="<%= title %>"
           id="<%= baseID + '-value-0' %>"
    >
    <button type="button" class="pure-button-secondary deleteBtn"
            onclick="Lib.default.deleteParam(this)">X
    </button>
  </section>
</section>
