<section class="responseSect slider" id='<%= (route + "/" + method + "-response") %>'>
  <div>
    <section>
      <h4>Request URL</h4>
      <p class="jsonViewer" id='<%= (route + "/" + method + "-response-url") %>'></p>
    </section>
    <section>
      <h4>Response Code</h4>
      <p class="jsonViewer" id='<%= (route + "/" + method + "-response-status") %>'></p>
    </section>
    <section>
      <h4>Response Headers</h4>
      <div class="jsonViewer" id='<%= (route + "/" + method + "-response-header") %>'></div>
    </section>
    <section>
      <h4>Response Body</h4>
      <div class="jsonViewer" id='<%= (route + "/" + method + "-response-body") %>'></div>
    </section>
  </div>
</section>
